#ignore

#----KKH-----
KKH/3D_ViewerProject/Debug/
KKH/3D_ViewerProject/Release/
KKH/3D_ViewerProject/3D_ViewerProject/Debug/
KKH/3D_ViewerProject/3D_ViewerProject/Release/
KKH/Direct3D_Project/Debug/
KKH/Direct3D_Project/Release/
KKH/Direct3D_Project/x64/
KKH/Direct3D_Project/Direct3D_Project/Debug/
KKH/Direct3D_Project/Direct3D_Project/Release/
KKH/Direct3D_Project/Direct3D_Project/x64/
*.aps
*.log
*.db
*.ipch

#----PGW----